{% extends "bodylay.html" %}

{% block body %}
<h3>Hakkımızda</h3>
<hr>
<p>
    “Hakkımızda” sayfası web sitenizin en önemli sayfalarından biridir. Kişisel blogda blog yazarını; web sitesinde ise grup, dernek ya da firmayı hedef kitlesine tanıtan sayfadır.

Hakkımızda sayfası; tasarımı ve içeriği ile bir duruş sergiler, bu duruş kişisel blogunuzun ya da firmanızın bir yansımasıdır, bir anlamda kimliğinizdir.

Bir firma web sitesinin hakkımızda sayfasında; kurum kültürü ve temel değerleri, tarihi yani hikâyesi, tecrübesi ve öne çıkan farkları, çalışanları, sunduğu hizmet ve ürünlerin tanımı ziyaretçiye özetle anlatılır.

Bu önemli sayfayı; kullanıcı dostu, etkileyici, eksiksiz ve hatta trafik sağlayıcı hale nasıl getirebilirsiniz? Aşağıdaki 14 kuralı göz önünde bulundurarak hazırlayacağınız bir hakkımızda sayfası ile marka imajınızı çok daha güçlü kılabilirsiniz.

Doğru hazırlanmış bir hakkımızda sayfası firmanıza neler kazandırır?
Doğru hazırlanmış bir hakkımızda sayfası firmanıza öncelikle güvenilirlik kazandırır. İyi hazırlanmış bir sayfayla kendinizi daha iyi ifade edebilirsiniz. Aynı ürünü sağlayan, benzer hizmeti veren firmalardan farklılaşırsınız. Potansiyel müşterilerinizin dikkatini çekebilir, yeni müşteriler oluşmasını sağlayabilirsiniz. Uzun vadede yeni müşterileriniz ile satış artışı elde edebilirsiniz.

Tüm bu faydalarının yanı sıra “hakkımızda” ya da “hakkımda” organik trafik yaratan bir sayfa başlığıdır. Bir firmayı Google’da aradığınızda arama sonuçlarında çıkan ilk “Snippet”lardan (link içeren kaynak kodu parçaları) biri büyük olasılıkla hakkımızda sayfanız olacaktır.

Harika bir “hakkımızda” sayfası için 14 kural
1) Hakkımızda sayfasının tasarımı net, açık ve temiz olmalı.

Sayfa; seçilen renkler, yazı fontu, görsel kullanımı, paragraf ve başlık kullanımı ile ziyaretçiye temiz ve net bir görüntü vermeli. Ziyaretçi sayfaya girdiğinde, ele alınan konuları ve başlıkları henüz okumaya başlamadan, karmaşasıyla ziyaretçiyi iter, ziyaretçinin içini sıkar bir görüntüyle karşılaşmamalı.

Ziyaretçi, ana sayfaya giriş yaptığında, firma ile ilgili bilgi almak için bir bakışta “Hakkımızda” butonunu görebilmeli, yani sayfaya ulaşım çok kolay olmalı.

Kullanılan renkler doğru seçilmeli, konular belirleyici başlıklarla ayrılmış, tüm yazı net ve temiz algılanır olmalı. Konular ve yazılar arasında bırakılacak olan beyaz alanlar okuyucuyu dinlendirebilmeli. Dikkat çekmek adına konulan üst üste yazılar ve görseller ziyaretçinin firmanızla çalışma tecrübesinin de bu şekilde olacağını düşündürecektir.

2) Şirket kültürünüzü oluşturan en önemli unsurlardan; vizyonunuz, misyonunuz ve değerlerinizden bahsedin.

Firmanızın gerçekten önem verdiği ve kültürüne yansıtabildiği, dikkatlice hazırlanmış vizyonu ve misyonu varsa hakkımızda sayfasında bunları belirtmelisiniz. Değerleriniz müşterileriniz için de kıymetlidir.

3) Fark yarattığınız noktaların üzerinde durun ve hikâyenizi anlatın.

Kimsiniz? Bu işi neden ve nasıl yapıyorsunuz? Farklılaştığınız noktalar neler? Kısaca ürünleriniz ve hizmetinizde sizi ön plana çıkaracak noktalardan, tercih edilmenize neden olacak unsurlardan bahsedin.

İlk fikir nasıl doğdu, Hedef kitlenizin hangi ihtiyaçlarını keşfederek onlara yanıt olmaya, hizmet sunmaya karar verdiniz. Nasıl buralara geldiniz? Sıkıcı olmadan kısaca hikâyenizden bahsedin. Mütevazı bir dil kullanın.

4) Ekibinizi tanıtın.

Çalışma arkadaşlarınızı sayfanızda paylaşmanız hem ekibinizi motive edecek hem paylaşılacak kadar gurur duyulan bir ekip olduklarını ziyaretçinize gösterecektir. Ekip ruhu başarı için gerekli bir unsurdur. Ekip ruhu olduğu imajı da ziyaretçileri etkileyecektir.

Çalışanların tek tek tanıtımı hatta üst düzey yetkililerin tek tek tanıtımının mümkün olmadığı büyük şirketlerde hep birlikte çekilmiş bir fotoğraf da ekip ruhunu yansıtabilir. Ekibi sosyal ortamlarda gösterebilir, çalışanların herkes gibi ama işlerinde uzman olduklarını yansıtabilirsiniz.

5) “Hakkımda” metniniz yaratıcı ve ilgi çekici olmalı.

Kendinizden ve firmanızdan bahsedecek olan sayfanızda mutlaka “Hakkımızda” başlığını kullanmanıza gerek yok, yaratıcı olabilirsiniz fakat yaratıcılık adına anlaşılmayan bir başlık koymayın. Mesela “Daha da fazlası var!” gibi anlatmak istediğini anlatamayan kelimeler seçmeyin.

Türkiye’nin en çok okunan blogları arasında yer alan bir blog “Hakkımda” yerine “Ben Kimmişim” cümlesi ile sayfasını hazırlıyor ve tüm içeriği aynı tarzda, oldukça yaratıcı ve esprili yazıyor. Sadece bu sayfa ile birçok beğeni, trafik ve kullanıcı kazanıyor.

6) Yazı dilinizi doğru seçin.

Yazı dilinizi hedef kitlenizin özelliklerine göre seçmelisiniz. Örneğin, hedef kitleniz gençlerse daha samimi ve esprili, belli yaş üzeri profesyonellerse biraz daha resmi bir dil kullanmalısınız. Hiçbir zaman hiçbir yazı ortamında aşırılığa kaçmayın. Resmi olacağız derken sıkıcı; samimi olacağız derken laubali olmamalısınız.

7) Firmanızın başarılarından ve şirketinizle ilgili önemli gelişmelerden bahsedin.

Firmanızın elde ettiği başarılar, ödüller, başarıya ait dikkat çekici, doğru veriler inandırıcılığınızı artıracak, müşteride güven oluşturacaktır. Bir sosyal sorumluluk projeniz büyük ses getirdi ve başarıya mı ulaştı, en çok tercih edilen marka ödülünü mü aldınız? Bu sizin için büyük bir gelişme olduğuna göre sizi anlatan sayfada yer kesinlikle yer almalı.

8) Hakkımızda sayfanızı mutlaka fotoğraflar veya videolar ile canlandırın.

Metni çok güzel hazırlanmış dahi olsa insanoğlunun görseli çok daha hızlı algılaması ve görselin her zaman ilgi çekmesi nedenleri ile yazınızda görsel unsurlar kullanmalısınız. Fotoğraf, video gibi görseller yazınıza hareketlilik kazandıracak, metninizin daha çok okunmasını sağlayacaktır. Daha önce de belirttiğimiz gibi “sıkıcı” içeriği kimse okumaz.

9) Sosyal ağlardaki hesaplarınızı bildirmeyi ve link vermeyi unutmayın.

Firmanızı tanıttığınız sayfanızda, firmanızın; Facebook, Twitter, Instagram, gibi sosyal ağlardaki hesaplarını ziyaretçilerinize paylaşmalısınız. Hangi sosyal ortamdan sizi takip etmek istediklerini bırakın kendileri seçsinler. Sosyal medya ikonlarını sayfanızın dikkat çekici bir noktasına koyun. Ziyaretçinizi aklında dahi yoksa en çok kullandığı platformda sizi takip etmeye teşvik edebilirsiniz. Sizi bu noktalardan takip etmese dahi birçok sosyal platformda yer almanız da ziyaretçinizin gözünde bir “güç” göstergesi olacaktır.

10) Müşteri yorumlarına yer verin.

Müşterilerinizin yorumlarını paylaşmak hedef kitlenizi oldukça etkileyecek yöntemlerden biridir. Bir ajanssanız bilinen bir müşterinizin sizin hakkınızdaki olumlu referansı ziyaretçilerinizi etkileyecektir. Kamuoyunda güvenilir imaja sahip bir kurumun size referans olabilmesi size duyulacak güveni arttıracaktır.

Tüm müşterilerinizin yorumlarını eklemek sayfanızı kalabalıklaştıracaktır. Firmanız hakkındaki en etkileyici, en çok sizi anlatan yorumlara “Hakkımızda” sayfanızda yer verebilir bunun avantajlarından faydalanabilirsiniz.

11) İletişim bilgilerinizi paylaşın.

Firmanızı, çalışanlarınızı tanıttınız. Farklılığınızı, hikâyenizi, değerlerinizi paylaştınız. Şimdi hedef kitlenizin size nasıl ulaşacağı konusunda onları bilgilendirmenize sıra geldi. Var olduğunuzu, ulaşılabilir olduğunuzu ve size ulaşılmasından bir sakınca duymadığınızı ziyaretçilerinize göstermelisiniz. Kendinizi ya da firmanızı tanıttığınıza göre adresiniz bu kimlik bilgileri arasında var olabilmeli.
</p>

{% endblock %}

